<head>
  <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css"href="/stylesheets/styles.css"></link>
</head>
<body>

  {{{body}}}

  <img src="/images/coins.jpg">

  <hr>
  <a href="about">About this site</a>

</body>
</html>
