    <h1>Currency Converter</h1>

    <form action="/convert" method="GET">
      <label for="dollar">Amount</label>
      <input type="number" step="any" name="dollar_amount" id="dollar">
      <br>
      <label for="">Convert:</label>
      <select name="from_currency" id="from_currency">
        <option value="US">Dollars</option>
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
      </select>
      <label>to</label>
      <select name="to_currency" id="to_currency">
        <option value="US">Dollars</option>
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese Yen</option>
      </select>
      <br>
      <button type="submit">Convert</button>
    </form>
